.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(49, 46, 58);
}

.App button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgb(192, 181, 181);
}

.App button:active {
  transform: scale(1.05);
}

.cash-in {
  background-color: #4caf50; /* Green */
}

.cash-out {
  background-color: rgb(189, 84, 84);
}

.display {
  background-color: rgb(228, 221, 221);
  min-width: 200px;
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 1px 15px;
  margin: 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgb(192, 181, 181);
}

.customers-info {
  margin: 10px;
  color: rgb(199, 194, 194);
}

.customers-header {
  text-align: center;
  color: rgb(199, 194, 194);
}

.customers-block {
  margin: 10px 0px;
}

.customer {
  min-width: 200px;
  min-height: 15px;
  width: 300px;
  margin-bottom: 10px; /* Add some spacing between each customer div */
  padding: 5px 20px;
  border: 1px solid #ccc; /* Add a border to each customer div */
  border-radius: 5px; /* Add rounded corners to the border */
  background-color: #f9f9f9;
}
